<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChildCare_Missing_Child_Reporting_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Page_No_1_Admin_Login</display-name>
    <servlet-name>Page_No_1_Admin_Login</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_1_Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_1_Admin_Login</servlet-name>
    <url-pattern>/Page_No_1_Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_1_Admin_Login1</display-name>
    <servlet-name>Page_No_1_Admin_Login1</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_1_Admin_Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_1_Admin_Login1</servlet-name>
    <url-pattern>/Page_No_1_Admin_Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_2_Add_Police_Officers</display-name>
    <servlet-name>Page_No_2_Add_Police_Officers</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_2_Add_Police_Officers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_2_Add_Police_Officers</servlet-name>
    <url-pattern>/Page_No_2_Add_Police_Officers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_3_Police_Login</display-name>
    <servlet-name>Page_No_3_Police_Login</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_3_Police_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_3_Police_Login</servlet-name>
    <url-pattern>/Page_No_3_Police_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_4_Police_Change_Password</display-name>
    <servlet-name>Page_No_4_Police_Change_Password</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_4_Police_Change_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_4_Police_Change_Password</servlet-name>
    <url-pattern>/Page_No_4_Police_Change_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_5_Register_Citizens</display-name>
    <servlet-name>Page_No_5_Register_Citizens</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_5_Register_Citizens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_5_Register_Citizens</servlet-name>
    <url-pattern>/Page_No_5_Register_Citizens</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_6_Login_Citizens</display-name>
    <servlet-name>Page_No_6_Login_Citizens</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_6_Login_Citizens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_6_Login_Citizens</servlet-name>
    <url-pattern>/Page_No_6_Login_Citizens</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_7_Report_Missing_Child</display-name>
    <servlet-name>Page_No_7_Report_Missing_Child</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_7_Report_Missing_Child</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_7_Report_Missing_Child</servlet-name>
    <url-pattern>/Page_No_7_Report_Missing_Child</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PAge_No_8_Citizen_Change_Password</display-name>
    <servlet-name>PAge_No_8_Citizen_Change_Password</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.PAge_No_8_Citizen_Change_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PAge_No_8_Citizen_Change_Password</servlet-name>
    <url-pattern>/PAge_No_8_Citizen_Change_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_9_Update_Investigation_Status</display-name>
    <servlet-name>Page_No_9_Update_Investigation_Status</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_9_Update_Investigation_Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_9_Update_Investigation_Status</servlet-name>
    <url-pattern>/Page_No_9_Update_Investigation_Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_9_Update_Investigation_Status1</display-name>
    <servlet-name>Page_No_9_Update_Investigation_Status1</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_9_Update_Investigation_Status1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_9_Update_Investigation_Status1</servlet-name>
    <url-pattern>/Page_No_9_Update_Investigation_Status1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_No_7_Report_Missing_Child1</display-name>
    <servlet-name>Page_No_7_Report_Missing_Child1</servlet-name>
    <servlet-class>Project_ChildCare_Missing_Child_Reporting_System.Page_No_7_Report_Missing_Child1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_No_7_Report_Missing_Child1</servlet-name>
    <url-pattern>/Page_No_7_Report_Missing_Child1</url-pattern>
  </servlet-mapping>
</web-app>